<div class="subscribe d-flex justify-content-center align-items-center">
<div class="d-flex justify-content-between align-items-center container w-75">
  <div class="w-50 ms-3">
    <h2>
      Subscribe to our newsletter
    </h2>
    <p>
      Join our mailing list to receive monthly news and updates about our developments
    </p>
  </div>
  <div class="row align-items-center">
     <div class="col-md-9">
       <input type="text" class="form-control " placeholder="Enter Your Email">
     </div>
    <div class="col-md-3">
      <button class="btn">Subscribe</button>
    </div>
  </div>
</div>
</div>
