.navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a{
  cursor: pointer;
  transition:all 0.3s;
  font-size: 18px;
}

a:hover{
  color: rgb(230,0,0)!important;
}

.navbar.scrolled {
  background-color: rgba(21,28,37,0.8) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.fa-earth-oceania{
  color: rgb(230,0,0) !important;
}
