<div class="opening position-relative">
  <img src="assets/museum/opening.jpg">
  <div class=" container position-absolute title text-white">
    <h2>
      STAY TUNED FOR THE GRAND OPENING OF
    </h2>
    <h1>
      THE GRAND EGYPTIAN MUSEUM
    </h1>
  </div>
  <div class="countdown position-absolute bottom-0 end-0  p-4">
    <div class="time-boxes">
      <div class="box"><span>{{ days }}</span><small>Days</small></div>
      <div class="box"><span>{{ hours }}</span><small>Hours</small></div>
      <div class="box"><span>{{ minutes }}</span><small>Minutes</small></div>
      <div class="box"><span>{{ seconds }}</span><small>Seconds</small></div>
    </div>
  </div>
</div>


